GENERIC_TIMEZONE=Europe/Amsterdam
TZ=Europe/Amsterdam
N8N_PORT=5678
N8N_RESTRICT_FILE_ACCESS_TO=/files;~/.n8n-files
POSTGRES_DB=freelance
POSTGRES_USER=appuser
POSTGRES_PASSWORD=change-me-for-local-dev
WIKIJS_PORT=3000
WIKIJS_DB_NAME=wiki
MATHESAR_PORT=8000
MATHESAR_DOMAIN_NAME=http://localhost
MATHESAR_ALLOWED_HOSTS=localhost,127.0.0.1,[::1]
MATHESAR_POSTGRES_DB=mathesar_django
MATHESAR_POSTGRES_USER=mathesar
MATHESAR_POSTGRES_PASSWORD=mathesar
MATHESAR_WEB_CONCURRENCY=3
MATHESAR_SECRET_KEY=
